.letras .letra {
  width: 150px;
  height: 150px;
  float: left;
  outline: solid 1px black;
  margin: 10px;
  cursor: pointer;
}
.letras .letra span {
  display: block;
  font-size: 60px;
  text-transform: uppercase;
  text-align: center;
  line-height: 150px;
  font-family: Arial, Helvetica, sans-serif;
}
.letras .letra.selecionada {
  background-color: red;
  color: white;
}
.letras .letra img {
  display: none;
  width: 100%;
}
