<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Som e Imagem</title>
    <link rel="stylesheet" href="css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="css/vendor/bootstrap.min.css.map">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/jquery.js"></script>
    <script src="js/script.js"></script>
</head>
<body ng-app="principal" ng-controller="Controller">
    <div class="fogos">
        <h1 class="fechar">
            <button>Fechar</button>
        </h1>
    </div>
    <div class="wrapper som-imagem">
        <a href="index.html" class="voltar">
            <img src="img/voltar.jpg" alt="voltar"/>
        </a>

        <h1>Clique no som e descubra qual imagem começa com a letra</h1>
        <p>{{numeros}}</p>

        <a href="#" ng-click="falando(letra)" class="principal">
            <img src="img/som.jpg" alt="som"/>
        </a>
        <div class="imagens">
            <a href="javscript:void(0)" ng-click="validar(opcao1)" class="imagem"> <img ng-src="img/alfabeto/{{opcao1.imagemUrl}}" alt="xxx"></a>
            <a href="javscript:void(0)" ng-click="validar(opcao2)" class="imagem"> <img ng-src="img/alfabeto/{{opcao2.imagemUrl}}" alt="xxx"></a>
            <a href="javscript:void(0)" ng-click="validar(opcao3)" class="imagem"> <img ng-src="img/alfabeto/{{opcao3.imagemUrl}}" alt="xxx"></a>
            <a href="javscript:void(0)" ng-click="validar(opcao4)" class="imagem"> <img ng-src="img/alfabeto/{{opcao4.imagemUrl}}" alt="xxx"></a>
        </div>
        <div class="resultado">
            <h1>ACERTOU!!!</h1>
        </div>
    </div>

    <div id="scripts">
        <script type="text/javascript" src="js/vendor/angular/angular-1.5.8.js"></script>
        <script type="text/javascript" src="js/app/app.js"></script>
        <script type="text/javascript" src="js/app/controller2.js"></script>
    </div>
</body>
</html>