body .fogos .fechar {
  color: white;
  position: relative;
  z-index: 1;
}
body .wrapper {
  width: 850px;
  margin: 0 auto;
}
body .wrapper .hide {
  display: none;
}
body .wrapper .voltar {
  display: block;
}
body .wrapper .jogos {
  width: 640px;
  margin: 0 auto;
  text-align: center;
}
body .wrapper .jogos .jogo {
  outline: solid 1px green;
  margin-bottom: 20px;
  float: left;
  margin-right: 20px;
}
body .wrapper .jogos .jogo .de,
body .wrapper .jogos .jogo .para,
body .wrapper .jogos .jogo .seta {
  height: 150px;
  text-decoration: none;
  display: block;
  float: left;
}
body .wrapper .jogos .jogo .de,
body .wrapper .jogos .jogo .para {
  width: 120px;
}
body .wrapper .jogos .jogo .seta {
  width: 60px;
}
body .wrapper .letra:hover a {
  display: block!important;
}
body .wrapper .letras .letra {
  width: 150px;
  height: 150px;
  float: left;
  outline: solid 1px black;
  margin: 10px;
  overflow: hidden;
  position: relative;
}
body .wrapper .letras .letra span.caractere {
  display: block;
  font-size: 60px;
  text-transform: uppercase;
  text-align: center;
  line-height: 150px;
  font-family: Arial, Helvetica, sans-serif;
}
body .wrapper .letras .letra a.som-letra {
  background-color: #FF5722;
  position: absolute;
  width: 30px;
  height: 30px;
  bottom: 4px;
  left: 4px;
  border-radius: 20px;
  z-index: 1;
}
body .wrapper .letras .letra a.som-imagem {
  background-color: #7d66ff;
  color: white;
  position: absolute;
  width: 30px;
  height: 30px;
  bottom: 4px;
  left: 40px;
  border-radius: 20px;
  z-index: 1;
}
body .wrapper .letras .letra a.imagem {
  background-color: #2196F3;
  position: absolute;
  width: 30px;
  height: 30px;
  bottom: 4px;
  left: 76px;
  border-radius: 20px;
  z-index: 1;
}
body .wrapper .letras .letra.selecionada {
  background-color: red;
  color: white;
}
body .wrapper .letras .letra img {
  display: none;
  width: 100%;
}
body .wrapper.som-imagem h1 {
  text-align: center;
}
body .wrapper.som-imagem .principal {
  display: block;
  width: 120px;
  margin: 0 auto;
  border: solid 1px gray;
  border-radius: 10px;
  display: table;
  padding: 5px;
}
body .wrapper.som-imagem .imagens {
  display: table;
  height: 150px;
  margin: 0 auto;
}
body .wrapper.som-imagem .imagens .imagem {
  width: 150px;
  height: 150px;
  border: solid 1px gray;
  border-radius: 10px;
  float: left;
  margin: 5px;
  overflow: hidden;
}
body .wrapper.som-imagem .imagens .imagem img {
  width: 100%;
  padding: 5px;
}
body .wrapper.letra-imagem .acoes {
  text-align: center;
  display: block;
  overflow: auto;
}
body .wrapper.letra-imagem .acoes a {
  text-decoration: none;
  font-size: 60px;
  color: yellow;
  outline: solid 3px #FF5722;
  width: 100px;
  height: 100px;
  display: block;
  float: left;
  margin: 8px;
  padding-top: 15px;
  background-color: #81d700;
}
body .wrapper.letra-imagem .acoes a.cursiva {
  font-family: LearningCurveDashed;
}
body .wrapper.letra-imagem .letras {
  display: block;
  overflow: auto;
}
/* FONTS */
@font-face {
  font-family: LearningCurveDashed;
  src: url(../fonts/LearningCurveDashed.ttf);
}
@font-face {
  font-family: LearningCurve;
  src: url(../fonts/LearningCurve.ttf);
}
