body{
    .fogos{
        .fechar{
            color: white;
            position: relative;
            z-index: 1;
        }
    }

    .wrapper{
        width: 850px;
        // outline: solid;
        margin: 0 auto;

        .hide{
            display: none;
        }
        
        .voltar{
            display: block;
        }
        
        
        
        .jogos{
        
            // outline: solid 1px gray;
            width: 640px;
            margin: 0 auto;
            text-align: center;
        
            .jogo{
                outline: solid 1px green;
                // width: 640px;
                margin-bottom: 20px;
                float: left;
                margin-right: 20px;
        
                .de, .para, .seta{
                    height: 150px;
                    text-decoration: none;
                    display: block;
                    float: left;
                }
        
                .de, .para{
                    width: 120px;
                    // outline: solid 1px blue;
                    // background-color: blue;
                }
        
                .seta{
                    // outline: solid 1px pink;
                    width: 60px;
                    // background-color: pink;
                }
            }
        }
        
        .letra:hover a { 
            // background-color: yellow!important; 
            //display: block!important;
        }

        &.som-imagem{
            h1{
                text-align: center;
            }

            .principal{
                display: block;
                width: 120px;
                // outline: solid ;
                margin: 0 auto;
                border: solid 1px gray;
                border-radius: 10px;
                display: table;
                padding: 5px;
            }

            .imagens{
                display: table;
                height: 150px;
                margin: 0 auto;

                .imagem{
                    width: 150px;
                    height: 150px;
                    border: solid 1px gray;
                    border-radius: 10px;
                    float: left;
                    margin: 5px;
                    overflow: hidden;

                    img{
                        width: 100%;
                        padding: 5px;
                    }
                }

            }


        }

        &.letra-imagem{

            .letras{
        
                .letra{
                    width: 150px;
                    height: 150px;
                    float: left;
                    border-radius: 15px 50px;
                    border: solid 4px gray;
                    margin: 10px;
                    // cursor: pointer;
                    overflow: hidden;
                    position: relative;
    
                    .botoes{
                        margin-left: 10px;
                        position: absolute;
                        top: 115px;
                        left: 36px;

                        a{
                            display: inline-block;
                        }

                        a.som-letra{
                            background-color: #FF5722;
                            width: 30px;
                            height: 30px;
                            // display: none;
                            // position: absolute;
                            // bottom: 4px;
                            // left: 24px;
                            border-radius: 20px;
                            z-index: 1;
                        }
        
                        a.som-imagem{
                            background-color: #31bb0f;
                            color: white;
                            width: 30px;
                            height: 30px;
                            // display: none;
                            // position: absolute;
                            // bottom: 4px;
                            // left: 60px;
                            border-radius: 20px;
                            z-index: 1;
                        }
        
                        a.imagem{
                            background-color: #2196F3;
                            width: 30px;
                            height: 30px;
                            // display: none;
                            // position: absolute;
                            // bottom: 4px;
                            // left: 96px;
                            border-radius: 20px;
                            z-index: 1;
                        }
                    }

                    span.caractere{
                        display: block;
                        font-size: 60px;
                        // outline: solid;
                        text-transform: uppercase;
                        text-align: center;
                        // padding-top: 20px;
                        // padding-bottom: 20px;
                        line-height: 150px;
                        // white-space: nowrap;
                        font-family: Arial, Helvetica, sans-serif;
                    }
    
                    
                    &.selecionada{
                        background-color: red;
                        color: white;
                    }
                    
                    img{
                        display: none;
                        width: 100%;
                    }
                }
            
            }

            .acoes {
                text-align: center;
                display: block;
                // outline: solid 1px blue;
                overflow: auto;
                
                a{
                    text-decoration: none;
                    font-size: 60px;
                    color: yellow;
                    outline: solid 3px #FF5722;
                    width: 100px;
                    height: 100px;
                    display: block;
                    float: left;
                    margin: 8px;
                    padding-top: 15px;
                    background-color: rgb(129, 215, 0);

                    &.cursiva{
                        font-family: LearningCurveDashed;
                    }
                }
            }

            .letras{
                display: block;
                // outline: solid 1px red;
                overflow: auto;
            }
            
        }
    }
}

.cursor{
    cursor: pointer;
}

/* FONTS */

@font-face {
    font-family: LearningCurveDashed;
    src: url(../fonts/LearningCurveDashed.ttf);
  }
  
  @font-face {
    font-family: LearningCurve;
    src: url(../fonts/LearningCurve.ttf);
  }